{% if page_obj.paginator.num_pages > 1 %}
<nav class="mt-4">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" data-page-link="{{ page_obj.previous_page_number }}">Previous</a>
    </li>
    {% for num in page_obj.paginator.page_range %}
    <li class="page-item {% if num == page_obj.number %}active{% endif %}">
      <a class="page-link" href="?page={{ num }}" data-page-link="{{ num }}">{{ num }}</a>
    </li>
    {% endfor %}
    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}" data-page-link="{{ page_obj.next_page_number }}">Next</a>
    </li>
  </ul>
</nav>
{% endif %}
